@media screen and (min-width: 769px) and (max-width: 1170px) {
  .about-content {
    display: flex;
    margin-bottom: 40px; }
    .about-content p {
      max-width: 100% !important;
      line-height: 25px; }
  .banner h1 {
    font-size: 62px !important;
    padding-top: 100px !important; }
  .banner .btn-group {
    margin-top: 50px; }
  .services {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; } }

@media screen and (max-width: 768px) {
  .about-content {
    display: flex;
    margin-bottom: 40px; }
    .about-content p {
      max-width: 100% !important;
      line-height: 25px; }
  .tax {
    display: none; }
  .banner {
    height: 500px !important; }
    .banner h1 {
      font-size: 42px !important;
      padding-top: 50px !important; }
    .banner .btn-group {
      margin-top: 50px; }
  .services {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  .blogs {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
  .contact {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block !important; }
    .contact form {
      padding: 30px !important; }
      .contact form input, .contact form textarea {
        border: none;
        width: 85% !important;
        padding: 15px 20px;
        margin-top: 10px;
        outline-color: #cd1969; }
  .services-row {
    margin-top: 100px !important; } }

@media screen and (max-width: 500px) {
  .about-content {
    display: flex; }
    .about-content p {
      max-width: 100% !important;
      line-height: 25px; }
  .tax {
    display: none; }
  .banner {
    height: 500px !important; }
    .banner h1 {
      font-size: 42px !important;
      padding-top: 50px !important; }
    .banner .btn-group {
      margin-top: 50px; }
  .services {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; }
  .contact {
    margin-top: 50px;
    margin-bottom: 50px;
    display: block !important; }
    .contact form {
      padding: 30px !important; }
      .contact form input, .contact form textarea {
        border: none;
        width: 85% !important;
        padding: 15px 20px;
        margin-top: 10px;
        outline-color: #cd1969; }
    .contact .map {
      display: none; }
  .services-row {
    margin-top: 50px !important; }
  footer {
    padding: 2rem; }
    footer .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center; }
      footer .container ul.nav {
        display: block !important;
        flex-wrap: wrap; }
        footer .container ul.nav li {
          font-size: 12px;
          font-weight: 200;
          padding-left: 20px; }
  header ul.nav {
    display: none !important;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0%;
    transition: all 0.3s ease-in-out; }
    header ul.nav li {
      background: #cd1969;
      border-bottom: 2px solid white;
      padding: 20px 15px;
      font-size: 12px;
      font-weight: 200;
      padding-left: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      header ul.nav li a {
        color: white !important; }
    header ul.nav li:hover {
      padding: 25px 15px; }
  .menu {
    margin-right: 20px;
    display: block !important;
    cursor: pointer; }
  .menu-open {
    display: none !important;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0%;
    transition: all 0.3s ease-in-out; }
    .menu-open li {
      background: #cd1969;
      border-bottom: 2px solid white;
      padding: 20px 15px;
      font-size: 12px;
      font-weight: 200;
      padding-left: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer; }
      .menu-open li a {
        color: white !important; }
    .menu-open li:hover {
      padding: 25px 15px; }
  ul.nav .close {
    display: block !important; } }

.text-p {
  color: #cd1969; }

.bg-p {
  background: #cd1969; }

.bg-s {
  background: #333; }

.text-center {
  text-align: center; }

.text-w {
  color: white; }

.mt-1 {
  margin-top: 150px; }

body {
  margin: 0px;
  padding: 0px;
  font-family: montserrat;
  color: #333; }

.container {
  max-width: 1140px;
  margin: auto;
  padding: 10px; }

h1,
h2,
h3,
p,
ul,
li,
button {
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: none; }

p {
  font-size: 14px;
  font-weight: 200; }

.btn {
  padding: 15px 25px; }

a {
  text-decoration: none;
  color: white; }

.banner {
  background: url("../images/banner.gif");
  height: 600px; }

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .container .menu {
    display: none; }
  header .container ul.nav {
    display: flex; }
    header .container ul.nav li {
      font-size: 12px;
      font-weight: 200;
      padding-left: 20px; }
    header .container ul.nav .close {
      display: none; }

.banner h1 {
  font-size: 72px;
  padding-top: 140px; }

.banner .btn-group {
  margin-top: 50px; }

.about .about-content {
  margin-top: 100px;
  display: flex; }
  .about .about-content p {
    max-width: 80%;
    line-height: 25px; }

.services {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.blogs {
  margin-top: 100px;
  display: flex;
  align-items: center; }
  .blogs .blog-box {
    margin: 20px; }
  .blogs .blog-content1 {
    background: url("../images/b1.gif");
    padding: 50px; }
  .blogs .blog-content2 {
    background: url("../images/b2.gif");
    padding: 50px; }
  .blogs .blog-content3 {
    background: url("../images/b3.gif");
    padding: 50px; }

.contact {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex; }
  .contact form {
    padding: 4.5rem; }
    .contact form input, .contact form textarea {
      border: none;
      width: 100%;
      padding: 15px 20px;
      margin-top: 10px;
      outline-color: #cd1969; }
    .contact form button {
      margin-top: 20px;
      cursor: pointer; }

footer {
  padding: 2rem; }
  footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; }
    footer .container ul.nav {
      display: flex;
      flex-wrap: wrap; }
      footer .container ul.nav li {
        font-size: 12px;
        font-weight: 200;
        padding-left: 20px; }

.about-page {
  max-width: 60%;
  margin: 100px auto; }
  .about-page h1 {
    font-size: 46px;
    margin-bottom: 20px; }
  .about-page p {
    line-height: 25px; }
  .about-page .btn-group {
    margin-top: 50px; }
  .about-page .icons {
    margin-top: 20px; }

.services-page {
  margin-top: 50px; }
  .services-page h1 {
    font-size: 46px; }

.services-row {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.contact-info {
  padding: 5rem; }
